BINANCE_PAY_API_KEY=replace_me
BINANCE_PAY_SECRET_KEY=replace_me
BINANCE_PAY_PUBLIC_KEY_FILE=C:\\BethelTradingTech\\config\\binance-pay-public-key.pem
BINANCE_PAY_BASE_URL=https://bpay.binanceapi.com
