<!DOCTYPE html>
<html>

<head>

    <title>
        Bethel Trading Technologies
    </title>


    <link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<div class="container">


<header>

    <h1>
        Bethel Trading Technologies
    </h1>


    <p>
        Algorithmic Trading Dashboard
    </p>


    <div id="status">
        CONNECTING...
    </div>


</header>



<div class="grid">


    <div class="card">

        <h3>
            Balance
        </h3>

        <p id="balance">
            $0.00
        </p>

    </div>



    <div class="card">

        <h3>
            Equity
        </h3>

        <p id="equity">
            $0.00
        </p>

    </div>



    <div class="card">

        <h3>
            Profit / Loss
        </h3>

        <p id="profit">
            $0.00
        </p>

    </div>



    <div class="card">

        <h3>
            Open Positions
        </h3>

        <p id="positions">
            0
        </p>

    </div>


</div>




<div class="positions-section">


<h2>
    Live Trading Status
</h2>


<table>


<thead>

<tr>

<th>
Symbol
</th>


<th>
Type
</th>


<th>
Volume
</th>


<th>
Profit
</th>


</tr>

</thead>



<tbody id="positions-table">


</tbody>



</table>


</div>




</div>




<script src="/static/js/dashboard.js"></script>


</body>

</html>