<!DOCTYPE html>

<html lang="en">


<head>


<title>
Bethel Trading Technologies Investor Login
</title>


<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="/static/css/login.css">


</head>





<body>





<!-- ======================================
     LOGIN CONTAINER
====================================== -->


<div class="login-box">



<h1>
Bethel Trading Technologies
</h1>



<h3>
Investor Login
</h3>





<!-- ======================================
     ERROR MESSAGE
====================================== -->


<div id="error">

</div>






<!-- ======================================
     LOGIN FORM
====================================== -->


<form id="loginForm">





<!-- EMAIL -->


<input

type="email"

id="email"

placeholder="Email"

required

>





<!-- PASSWORD -->


<input

type="password"

id="password"

placeholder="Password"

required

>







<!-- REMEMBER ME -->


<label>


<input

type="checkbox"

id="remember"

>


Remember me


</label>







<!-- LOGIN BUTTON -->


<button

type="submit"

id="loginButton"

>


Login


</button>





</form>



</div>







<!-- ======================================
     AUTHENTICATION ENGINE
====================================== -->


<script src="/static/js/auth.js"></script>







<!-- ======================================
     LOGIN CONTROLLER
====================================== -->


<script>


document

.getElementById("loginForm")

.addEventListener(

"submit",

async function(event){



event.preventDefault();





const email =

document

.getElementById("email")

.value;





const password =

document

.getElementById("password")

.value;





const button =

document

.getElementById("loginButton");





const error =

document

.getElementById("error");





// Disable button


button.disabled = true;


button.innerHTML =

"Logging in...";



error.innerHTML = "";








// Call auth.js login()


const success =

await login(

email,

password

);







if(success){



window.location.href =

"/investor/";



return;


}








// Failed login


error.innerHTML =

"Invalid email or password";



button.disabled = false;


button.innerHTML =

"Login";





}



);


</script>





</body>


</html>